html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #ebe9e9; 
}

/* hlavní obal, bílý podklad */
.obal {
  width: 1200px;
  height: auto;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

/* modrá krychle - základní nastavení */
.krychle {
  width: 100px;
  height: 100px;
  margin: 0;
  background-image: linear-gradient(
    to left top,
    #091a36,
    #091a3e,
    #0e1a46,
    #17184d,
    #221553
  );
}

/* krychle jako obdélník, v levém horním rohu */
.krychle--big {
  width: 200px;
  height: 310px;
  margin-left: 70px;
  position: absolute;
  z-index: 5;
}

/* BOX - HLAVNÍ BOX, ZÁKLADNÍ NASTAVENÍ - K POTŘEBĚ PRO JEDNOTLIVÉ SEKCE - vnevyužito, ale nechat*/
.box {
  width: 1000px;
  height: 130px;
  margin: 100px;
  position: absolute;
  z-index: 100;
  text-align: left;
  line-height: 15%;
  background-color: #fff;
  border: 0.5px rgb(8, 3, 78) solid;
  color: rgb(8, 3, 78);
}

/* VIZITKA - jméno a fotka a pozice */
.box--vizitka {
  height: 180px;
  padding-left: 39px;
  padding-top: 30px;
}

/* písmo na vizitce - hlavička H2 - nadpis */
.vizitka-jmeno {
  font-weight: 200;
  font-size: 3.5rem;
}

.vizitka-pozice {
  font-weight: 200;
  font-size: 1.5rem;
  padding-left: 5px;
}

/* sekce contact a profil, pokec */
.contact-profile {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 350px 100px 30px;
  padding-left: 20px;
  border-left: 2px rgb(8, 3, 78) solid;
}

/* podsekce CONTACT */
.contact {
  width: 400px;
}

/* podsekce PROFILE POKEC */
.profile {
  width: 700px;
}

h3 {
  font-weight: 300;
  font-size: 1rem;
}

/* áčka , pozor na klásy */
.email-link {
  text-decoration: none;
  font-weight: 600;
  color: #141414;
}

/* PO NAJETÍ . HOVER*/
.email-link:hover {
  color: rgb(34, 156, 204);
  font-size: 15px;
}

/* sekce info */
.info {
  width: 1000px;
  margin: 0px 100px;
  padding:  0 20px;
  border-bottom: 1px rgb(8, 3, 78) dotted;
}

p {
  font-weight: 200;
  line-height: 1.5;
  font-size: 1rem;
}

/* SKILLS a kurzy SEKCE */
.skills-kurzy {
  width: 1200px;
  width: 250px;
  margin: 0px 100px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
}

.skills {
  width: 350px;
  padding-left: 20px;
  border-right: 1px rgb(8, 3, 78) dotted;
  
}

ul {
 margin-left: 20px;
}

li {
  font-weight: 200;
  line-height: 1.5;
  font-size: 1rem;
  margin-left: -40px;
}

.kurzy {
  width: 750px;
  margin-left: 70px;
  padding-left: 20px;
 
}

.list {
  list-style: none;
}

h5 {
  font-weight: 300;
  font-size: 1rem;
  margin: 10px 0 10px -40px;
}

/* job experiences */
.experiences {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
  padding-left: 20px;
  border-top: 1px rgb(8, 3, 78) dotted;
  border-bottom: 1px rgb(8, 3, 78) dotted;
}

.nadpis-600 {
  font-weight: 600;
}

/* reference a hobbies sekce */
.reference-hobbies {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  margin: 0px 100px;
}

.reference {
  width: 350px;
  border-right: 1px rgb(8, 3, 78) dotted;
}

.hobbies {
  width: 700px;
  margin: 0 20px 0 70px;
  padding-left: 20px;
  padding-right: 55px;
}

.konec {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: auto;
  padding-left: 10px;
  border-top: 1px rgb(8, 3, 78) dotted;
  font-size: 10px;
}

strong {
  font-weight: 500;
}

.btn {
  margin: auto 300px;
  width: 100px;
  padding: 5px;
  border: 1px  rgb(34, 156, 204) solid;
  border-radius: 5%;
  text-align: center; 

}

.btn:hover {
  background-color: rgb(34, 156, 204);
}

.pdf {
  text-decoration: none;
  color: #091a36;
  font-size: 12px;
  font-weight: 400;
  
}

h4 {
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
}

